body {
	background: #e0e0e0;
}

header {
	text-align: center;
	color: gray;
	font-family: Lucida Console;
	font-size: 20px;
	font-weight: 200%;

}

.firstBox {
	width: 50%;
	margin-left: 25%;

}

.dispItem{
	background: white;
	list-style-type: none;
	border: 1px solid black;
	padding: 8px;
	height: 24px;
}

.boxChkItem{
	border: 1px solid black;
	width: 10%;
	height: 100%;
	border-right: 3px double red;
	display: inline-block;
}

.boxInputItem{
	width: 89%;
	height: 100%;
	border: 1px solid black;
	display: inline-block;
	margin-left: -4px;
	border-left: none;

}

.inputItem {
	width: 100%;
	border: none;
}

.listItems {
	padding-left: 0px;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
}

