body {
	background-image: url('squared_metal_@2X.png');
}

header {
	text-align: center;
	color: rgba(255, 255, 255, 0.3);
	font-family: Lucida Console;
	font-size: 35px;
	text-shadow: -1px -1px rgba(0, 0, 0, 0.5);

}

.firstBox {
	width: 50%;
	margin-left: 25%;
	border-top: 15px solid black; 

}

.dispItem{
	background: white;
	list-style-type: none;
	border-bottom: 1px dotted #adadad;
	padding: 0px;
	height: 35px;
	line-height: 200%;
}
/*#mainNav>li:first-child {
	border-left: ridge;
}*/
#ulList>li:last-child {
	border-bottom: 1px solid;
}

.boxChkItem{
/*	border-top: 1px dotted #adadad;*/
	width: 10%;
	height: 100%;
	border-right: 3px double red;
	display: inline-block;
	text-align: center;
}

.boxInputItem{
	width: 86%;
	height: 100%;
	border: none;
	display: inline-block;
	margin-left: -4px;
	border-left: none;
	padding-left: 3%;
}

.inputItem {
	width: 90%;
	height: 80%;
	margin-left: 3%;
	border: none;
}

.listItems {
	padding-left: 0px;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
}

.bottomBox {
/*	border: 1px solid;*/
	width: 99%;
	margin-left: 3px;
	height: .17em;
	background: #708090;
	z-index: 50;
}

.statusBox {
	width: 95%;
	height: 0.5em;
	padding: 8px 0px 18px 0px;
	margin-left: 5.5px;
	border: 1px solid gray;
	background: #f0f0f0;
	padding-left: 3%;
}
