body {
	background-image: url('squared_metal_@2X.png');
}

header {
	text-align: center;
	color: gray;
	font-family: Lucida Console;
	font-size: 20px;
	font-weight: 200%;

}

.firstBox {
	width: 50%;
	margin-left: 25%;
	border-top: 10px solid black; 

}

.dispItem{
	background: white;
	list-style-type: none;
	border: .5px solid black;
	padding: 0px;
	height: 35px;
	line-height: 200%;
}

.boxChkItem{
	border: 1px solid black;
	width: 10%;
	height: 100%;
	border-right: 3px double red;
	display: inline-block;
	text-align: center;
}

.boxInputItem{
	width: 86%;
	height: 100%;
	border: 1px solid black;
	display: inline-block;
	margin-left: -4px;
	border-left: none;
	padding-left: 3%;


}

.inputItem {
	width: 90%;
	height: 80%;
	margin-left: 3%;
	border: none;
}

.listItems {
	padding-left: 0px;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
}

.statusBox {
	width: 95%;
	height: 0.5em;
	padding: 8px 0px 18px 0px;
	margin-left: 4px;
	border: 1px solid gray;
	background: #e0e0e0;
	padding-left: 3%;
}
